* {padding: 0;
	margin: 0;}
	
body 
{
	background: #000;
	color: #fff;
}

h1 {
	display: block;
	width: 360px;
	color: red;
	margin-right: auto;
    margin-left: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}
h2 {
	display: block;
	color: green;
	margin-left: 10%;
	margin-bottom: 30px;
	margin-top: 30px;
}
p {
	display: block;
		margin: 10px;
}
img {
	display: block;
	height: 500px;
	width: 700px;
}